body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: Verdana, sans-serif;
	font-size: 0.9em;
}
#container {
	margin: 0 auto;
	padding: 0 20px 10px 20px;
	border: none;
	width: 70%; 
	
       
}
#header {
	border: none;
	background: none;
	padding: 0 ;
        border-radius: 0;
	
}
#footer {
   
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
	text-align: center;
	color: #666666;
	padding: 3em 0 0 0;
}
h2 {
	font-size: 1.2em;
}



table.transparent td.ui-panelgrid-cell, table.transparent tr.ui-widget-content, .ui-panel.ui-widget.ui-widget-content.ui-corner-all.transparent{
    background-color: transparent;
    border-color: transparent;
}



.alignTextCenter{
    text-align: center;
}
td.ui-datagrid-column{
    width: 33%;
    height: 100%;
    vertical-align: top;
    border-style: none !important
    
}
.ui-widget-content{
    background: #eeeeee;
    color: #444444;
}

.myMenubar{
    background: #888888 url("/webapp-esa/javax.faces.resource/images/ui-bg_highlight-hard_15_888888_1x100.png.xhtml?ln=primefaces-vader") 50% 50% repeat-x;
    border: none;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;

}

.myMenuitem{
    line-height: 30px;
    color: green;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;

}