body {
	margin: 0;
	padding: 0;
	background-color: #EAECEE;
	font-family: Verdana, sans-serif;
	font-size: 0.9em;
}
#container {
	margin: 0 auto;
	padding: 0 20px 10px 20px;
	border: none;
	width: 70%; 
	padding-top: 10px;
       
}
#header {
	border: none;
	background: none;
	padding: 0 ;
	margin-bottom: 50px;
}
#footer {
   
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
	text-align: center;
	color: #666666;
	padding: 3em 0 0 0;
}
h2 {
	font-size: 1.2em;
}



table.transparent td.ui-panelgrid-cell, table.transparent tr.ui-widget-content, .ui-panel.ui-widget.ui-widget-content.ui-corner-all.transparent{
    background-color: transparent;
    border-color: transparent;
}



.alignTextCenter{
    text-align: center;
}
td.ui-datagrid-column{
    width: 33%;
    
}
